.news-list{
    width: 480px;
    margin: 60px auto;
}

.news-list-container {
    display: flex;
    justify-content: center;
}

.news-list ul{
    padding: 1rem;
    /* grid-template-columns:  1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    display:grid;
    grid-gap:20px;
    /* box-sizing: border-box; */   
}

.article-image {
    width: 250px;
    height: 180px;
    margin-top: 20px; 
}

.news-list li{
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding: 0 20px 20px;
    border-radius: .25rem;
    /* width:20vw; */
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
    box-shadow: 3px 3px 5px 0 rgb(39 34 98 / 60%);
    position: relative;
    background-color: #fff;
}

/* .news-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
  } */